<div class="container-fluid">

  <app-page-title title="Liste des congées de : "
    ><h6 style="color: #001b85"></h6
  ></app-page-title>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title-desc"><i class="bx bx-user-pin"></i>  {{ nom }} {{ prenom }}</h2>
          <div class="button-items">
            <button type="button" class="btn btn-success" (click)="exportAsXLSX()">
                <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"  ></i> Télécharger en EXCEL
            </button>
            <button type="button" class="btn btn-danger" (click)="openPDF()">
                <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"  ></i> Télécharger en PDF
            </button>
            </div>
            <br>
          <ag-grid-angular
            style="display: flex; flex-direction: column; height: 500px"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [pagination]="true"
            [modules]="modules"
            [animateRows]="true"
          >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
</div>
