<div class="container-fluid">
  <div class="checkout-tabs">
    <div class="row">
      <div class="col-xl-2 col-sm-3">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-pills flex-column">
          <li [ngbNavItem]="1">
            <a ngbNavLink>
              <i class="bx bxs-user d-block check-nav-icon mt-4 mb-2"></i>
              <p class="fw-bold mb-4">Consultation bulletin de soin</p>
            </a>
            <ng-template ngbNavContent>
             
              <div class="container-fluid">
                <b>S'il vous veuillez choisir un numéro de soin :</b>  <br><hr>
                <ag-grid-angular
                  style="display: flex; flex-direction: column; height: 500px"
                  class="ag-theme-alpine"
                  [rowData]="listBultSoin"
                  [columnDefs]="columnAutorisation"
                  [pagination]="true"
                  [modules]="modules"
                  (cellClicked)="onCellClicked($event)"
                >
                </ag-grid-angular>
<hr>
                <ag-grid-angular
                  style="display: flex; flex-direction: column; height: 500px"
                  class="ag-theme-alpine"
                  [rowData]="gridApi"
                  [columnDefs]="columnligbult"
                  [pagination]="true"
                  [modules]="modules"
                >
                </ag-grid-angular>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <i class="bx bx-notepad d-block check-nav-icon mt-4 mb-2"></i>
              <p class="fw-bold mb-4">Bulletin Assurance</p>
            </a>
            <ng-template ngbNavContent>
              <div class="container-fluid">
                <b>S'il vous veuillez choisir un numéro bordereau :</b>  <br><hr>
                <ag-grid-angular
                  style="display: flex; flex-direction: column; height: 500px"
                  class="ag-theme-alpine"
                  [rowData]="BultStart"
                  [columnDefs]="columnBultStar"
                  [pagination]="true"
                  [modules]="modules"
                  (cellClicked)="onCellClickedLigStar($event)"
                >
                </ag-grid-angular>
                <hr>
                <ag-grid-angular
                  style="display: flex; flex-direction: column; height: 500px"
                  class="ag-theme-alpine"
                  [rowData]="listLigBultStart"
                  [columnDefs]="columnLigBultStar"
                  [pagination]="true"
                  [modules]="modules"
                >
                </ag-grid-angular>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col-lg-10">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
