<div class="container-fluid">
  <app-page-title title="Solde des congées">
    
  </app-page-title>

  <div class="card">
    <div class="card-body">
      <h2 class="card-title-desc">
        <i class="bx bx-user-pin"></i> Edition des congées
      </h2>
      <h5 class="card-title">Entrez les informations nécessaires</h5>

      <form [formGroup]="form" #Bullform="ngForm">
        <div class="form-group row">
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingemailInput"
                formControlName="mat_pers"
                required
              />
              <label for="floatingemailInput">Matricule</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingemailInput"
                formControlName="cod_soc"
                required
              />
              <label for="floatingemailInput">Code sociéte</label>
            </div>
          </div>
          <div>
            <div>
              <button
                type="submit"
                class="btn btn-primary w-md"
                (click)="GetCongeRh()"
              >
                <i class="dripicons-search"> </i>Chercher
              </button>
            </div>
            <hr />
          </div>
        </div>
      </form>
      <br />
      
      <form *ngIf="rowData">
       
                <h4 class="card-title">Liste des congés</h4>
                    <ag-grid-angular
                      style="width: 100%; height: 500px"
                      class="ag-theme-alpine"
                      [rowData]="rowData"
                      [columnDefs]="columnDefs"
                      [defaultColDef]="defaultColDef"
                      [pagination]="true"
                      [animateRows]="true"
                      [modules]="modules"
                    >
                    </ag-grid-angular>
       
      </form>
    </div>
  </div>
</div>
