<div class="col-sm-12" id="htmlData" #htmlData>
  <button type="button" class="btn btn-danger" (click)="openPDF()">
    <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"></i>
    {{'Télécharger en PDF' |translate}}
  </button>
</div>

<br />
<ag-grid-angular
  style="width: 100%; height: 300px"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [pagination]="true"
  [modules]="modules"
  [animateRows]="true"
>
</ag-grid-angular>
