<div class="container-fluid">
    <!-- start page title -->

    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Consultation Employee </h1> 
            
           

          
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <app-aggridevalagent></app-aggridevalagent>

           
      
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
