<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form
            [formGroup]="formAutorisation"
            (ngSubmit)="DemandeAutorisation()"
          >
            <div class="row">
              <div class="col-sm-6">
                <div class="mb-3">
                  <label for="productname">Date demande</label>
                  <input
                    id="productname"
                    name="productname"
                    type="text"
                    class="form-control"
                    formControlName="dateDemande"
                    readonly
                  />
                </div>
               
                <div class="mb-3">
                  <label for="manufacturername">Heure sortie</label>
                  <input
                    id="manufacturername"
                    name="manufacturername"
                    type="text"
                    class="form-control"
                    formControlName="heurS"
                    mask="00"
                    [showMaskTyped]="true"
                  />
                  </div>
                  <div class="mb-3">
                    <label for="manufacturername">Heure retour</label>
                    <input
                      id="manufacturername"
                      name="manufacturername"
                      type="text"
                      class="form-control"
                      formControlName="heurR"
                      mask="00"
                      [showMaskTyped]="true"
                      
                    />
                  </div>
                  <div class="mb-3">
                    <label class="control-label">Type autorisation</label>
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      formControlName="codAut"
                    >
                      <option
                        *ngFor="let i of listTypeAutorisation"
                        value="{{ i.cod_typ_aut }}"
                      >
                        {{ i.lib_typ_aut }}
                      </option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="product-image" > Fichier </label>
                    <div class="text-center">
                      <input
                        class="form-control"
                        type="file"
                        (change)="onChange($event)"
                      />
                    </div>
                  </div>
               
                </div>
               
              
              <div class="col-sm-6">
                <div class="mb-3">
                  <label>Date début</label>
                  <input
                    type="text"
                    class="form-control"
                    
                    placeholder="jj/MM/yyyy"
                    formControlName="datDebut"
                    #myInputDateEmbauche
                  />
                </div>
              
                <div class="mb-3">
                  <label for="manufacturername">Minute sortie</label>
                  <input
                    id="manufacturername"
                    name="manufacturername"
                    type="text"
                    class="form-control"
                    mask="00"
                    formControlName="minS"
                    [showMaskTyped]="true"
                  />
                </div>



                
                <div class="mb-3">
                  <label for="manufacturername">Minute retour</label>
                  <input
                  
                    id="manufacturername"
                    name="manufacturername"
                    type="text"
                    class="form-control"
                    formControlName="minR"
                    mask="00"
                    [showMaskTyped]="true"
                  />
                </div>
                <div class="mb-3">
                  <label for="manufacturername">Motif</label>
                  <textarea
                    id="manufacturername"
                    name="manufacturername"
                    type="text"
                    class="form-control"
                    formControlName="txtDem"
                  ></textarea>
                </div>
              
            </div>
          </div>
            
            <div class="d-flex flex-wrap gap-2 mt-2">
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <ag-grid-angular
          style="height: 400px; display: flex; flex-direction: column"
          class="ag-theme-alpine"
          [rowData]="ListAutorisation"
          [columnDefs]="columnAutorisation"
          [defaultColDef]="defaultColDef"
          [pagination]="true"
          [modules]="modules"
          [animateRows]="true"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
</div>