<div class="container-fluid">
  <app-page-title
    title="Calendrier des congés"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-3"></div>

    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="app-calendar">
            <!-- calendar -->
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-body">
            <div>
              <h4>
              <div class="card-body text-center">
                <span class="badge rounded-pill bg-primary"
                  ><div>Repos hebdomadaire</div></span
                >
              </div>
            </h4>
<h4>
              <div class="card-body text-center">
                <span class="badge rounded-pill bg-success"
                  ><div >Jour chaumé paye</div></span
                >
              </div></h4>
<h4>
              <div class="card-body text-center">
                <span class="badge rounded-pill bg-info"
                  ><div >Congé annuel</div></span
                >
              </div></h4>
<h4>
              <div class="card-body text-center">
                <span class="badge rounded-pill bg-warning" 
                  ><div >
                    Congé de maladie ordinaire
                  </div></span
                >
              </div>
            </h4>
              <h4>
                <div class="card-body text-center">
                  <span class="badge rounded-pill bg-danger"
                    ><div>Décès d'ascendants et collatéraux direct</div></span
                  >
                </div>
              </h4>
              <h4>
              <div class="card-body text-center">
                <span class="badge rounded-pill bg-dark"
                  ><div>Autres</div></span
                >
              </div>
            </h4>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="color-box bg-primary p-4 rounded">
              
              </div>
              <h6 class="mb-0 mt-3 text-primary ">Primary</h6>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="color-box bg-success p-4 rounded">
                <h5 class="my-2 text-white">#34c38f</h5>
              </div>
              <h5 class="mb-0 mt-3 text-success">Success</h5>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="color-box bg-info p-4 rounded">
                <h5 class="my-2 text-white">#50a5f1</h5>
              </div>
              <h5 class="mb-0 mt-3 text-info">Info</h5>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <div class="color-box bg-warning p-4 rounded">
                <h5 class="my-2 text-white">#f1b44c</h5>
              </div>
              <h5 class="mb-0 mt-3 text-warning">Warning</h5>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<!-- Add New Event MODAL -->
<!-- <ng-template #modalShow let-modal>
  <div class="modal-body p-4">
    <form (ngSubmit)="saveEvent()" [formGroup]="formData">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Event Name</label>
            <input class="form-control" placeholder="Insert Event Name" type="text" name="title" formControlName="title"
              [ngClass]="{'is-invalid': submitted && form.title.errors}" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
              <span *ngIf="form.title.errors.required">This value is required.</span>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Category</label>
            <select class="form-control" name="category" formControlName="category"
              [ngClass]="{'is-invalid': submitted && form.category.errors }">
              <option *ngFor="let option of category" value="{{ option.value }}">
                {{ option.name }}
              </option>
            </select>
            <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
              <div *ngIf="form.category.errors.required">This value is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mt-2">
        <button type="button" class="btn btn-light me-1" (click)="closeEventModal()">
          Close
        </button>
        <button type="submit" class="btn btn-success" id="btn-save-event">
          Save
        </button>
      </div>
    </form>
  </div>
</ng-template> -->
<!-- end modal-->

<!-- Edit event modal -->
<!-- <ng-template #editmodalShow let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Edit Event</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body p-4">
    <form [formGroup]="formEditData" (ngSubmit)="editEventSave()">
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Event name</label>
            <input class="form-control" placeholder="Insert Event Name" type="text" name="editTitle"
              formControlName="editTitle">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mb-3">
            <label class="control-label">Event category</label>
            <select class="form-control" name="ecategory" formControlName="editCategory" required>
              <option *ngFor="let option of category" value="{{ option.value }}"> {{ option.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <button type="button" class="btn btn-danger delete-event ms-1" (click)="confirm()">Delete</button>
        </div>
        <div class="col-6 text-end">
          <button type="button" class="btn btn-light" (click)="modal.dismiss('Close')">Close</button>
          <button type="submit" class="btn btn-success ms-1">Save</button>
        </div>
      </div>
    </form>
  </div>
</ng-template> -->
