<div class="container-fluid">
  <div class="checkout-tabs">
    <div class="row">
      <div class="col-xl-2 col-sm-3">
        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-pills flex-column">
          <li [ngbNavItem]="1">
            <a ngbNavLink>
              <i class="bx bx-notepad d-block check-nav-icon mt-4 mb-2"></i>
              <p class="fw-bold mb-4">Agenda de contrat</p>
            </a>
            <ng-template ngbNavContent>
              <div class="row">
                <div class="col-3"></div>
            
                <div class="col-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="app-calendar">
                        <!-- calendar -->
                        <full-calendar [options]="calendarOptions"></full-calendar>
                      </div>
                    </div>
                  </div>
                </div>
            
                <div class="col-3">
            
                </div>
              </div>
            </ng-template>
          </li>

          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <i class="bx bxs-user d-block check-nav-icon mt-4 mb-2"></i>
              <p class="fw-bold mb-4">Selectionner par date</p>
            </a>
            <ng-template ngbNavContent>
              <div class="container-fluid">
                <!-- start page title -->

                <!-- end page title -->

                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <h1 class="card-title">Consultation contrat</h1>
                        

                        <form #gfg="ngForm">
                          
                          <div class="row">
                            <div class="col-sm-4">
                              <div class="mb-3">
                                <label for="productname"> Date de début</label>
                                <input
                                  [(ngModel)]="date1"
                                  id="date1"
                                  name="date1"
                                  type="date"
                                  class="form-control"
                                />
                              </div>
                            </div>

                            <div class="col-sm-4">
                              <div class="mb-3">
                                <label for="price"> Date de fin </label>
                                <input
                                  [(ngModel)]="date2"
                                  name="date2"
                                  id="date2"
                                  type="date"
                                  class="form-control"
                                />
                                <div class="invalid-feedback"></div>
                              </div>
                            </div>
                            
                          </div>
                          <div class="col-sm-4">
                            <div class="mb-3">
                            
                              <button
                                (click)="onGetValue()"
                                class="fc-dayGridWeek-button btn btn-primary"
                                value=""
                                
                              >
                                Chercher
                              </button>
                            </div>
                            
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>



                  <div class="button-items" *ngIf="list">
                    <button type="button" class="btn btn-success" (click)="exportAsXLSX()">
                        <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"  ></i> Télécharger en EXCEL
                    </button>
                    <button type="button" class="btn btn-danger" (click)="openPDF()">
                        <i class="bx bx-loader bx-spin font-size-16 align-middle me-2"  ></i> Télécharger en PDF
                    </button>
                    </div>
<br><br>
                  <div class="row">
                    <div class="col-12">
                      <ag-grid-angular
                        style="
                          display: flex;
                          flex-direction: column;
                          height: 500px;
                        "
                        class="ag-theme-alpine"
                        [rowData]="list"
                        [columnDefs]="columnContrat"
                        [pagination]="true"
                        [modules]="modules"
                      >
                      </ag-grid-angular>
                    </div>
                  </div>
                </div>
                <!-- end row -->
              </div>

              <!-- container-fluid -->
            </ng-template>
          </li>
        </ul>
      </div>

      <div class="col-lg-10">
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</div>
